<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="ordersServiceSoapBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://soap.business.tomtom.com/v1.23/ordersService"
                binding="customBinding" bindingConfiguration="ordersServiceSoapBinding"
                contract="TomTomOrdersService.orders" name="ordersPort" />
        </client>
    </system.serviceModel>
</configuration>